body {
  font-family: 'Courier New', Courier, monospace;
}

.box1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box1 h1,
.box1 img {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.note{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.notes{
  display: flex;
  flex-direction: column;
}